page-settings {
    
    .share {
        color: white;
        background-color: #999999;
        ;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    #footer {
        position: fixed;
        bottom: 0;
        width: 90%;
    }
}
