<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Tu Cuenta</h2>
  <ion-list>
    <ion-item *ngFor="let cuenta of miCuenta$ | async">
      <ion-label color="primary">Nombre</ion-label>
      <ion-input color="dark" placeholder={{cuenta.nombre}} disabled></ion-input>
    </ion-item>

    <ion-item *ngFor="let cuenta of miCuenta$ | async">
      <ion-label color="primary">Email</ion-label>
      <ion-input color="dark" placeholder={{cuenta.email}} disabled></ion-input>
    </ion-item>

    <ion-item *ngFor="let cuenta of miCuenta$ | async">
      <ion-label color="primary">Telefono</ion-label>
      <ion-input color="dark" placeholder={{cuenta.telefono}} disabled></ion-input>
    </ion-item>
  </ion-list>

  <div id="footer">
    <br><br><br>
    <p>¡Invita a tus amigos!</p>
    <button ion-button block class="share" (click)="compartir()">Comparte tu código</button>
  </div>
</ion-content>