page-menu {

    ion-card {
        padding: 20px;
    }

    button {
        background: transparent;
        text-align: left;
    }
    .heart {
        text-align: right;
        font-size: 20px;
        color: #de5146;
        font-weight: bold;
    }


}
