page-menu {

    ion-card {
        padding: 20px;
    }

    button {
        background: transparent;
        text-align: left;
    }
    .heart {
        text-align: right;
        font-size: 20px;
        font-weight: bold;
        color: #999999;
    }
    .heart:hover {
        color: #de5146;
    }

    .filtro {
        font-size: 14px;
    }

}
