
<ion-header>
  <ion-navbar>
    <ion-title item-left>Pedidos Pendientes</ion-title>
    <button ion-fab (click)="onLogOut()" style="zoom: 0.8"><ion-icon item-right name="log-out"></ion-icon></button>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <ion-list>
          <ion-item *ngFor="let pedido of pedidos$| async">
            <ion-card>
                <ion-card-header>CLIENTE ID: {{pedido?.nombre_cliente}}</ion-card-header>
                <ion-card>
                  <ion-card-content>
                      <ion-list>
                          <ion-item *ngFor="let articulo of pedido.comida.articulos">
                              <ion-thumbnail item-right>
                                <img [src]= "articulo?.foto"/>
                              </ion-thumbnail>
                              {{articulo.nombre}}
                      </ion-item>
                      </ion-list>
                    </ion-card-content>
                    </ion-card>
                <button color="success" ion-button full type = "submit" (click)= "entregarPedido(pedido)"> Entregar Pedido</button>
            </ion-card>
          </ion-item>
        </ion-list>
  </ion-content>